<!DOCTYPE html>
<html>
<head>
  <Title><%= title %></Title>
</head>
<body style="background-color:rgb(171, 8, 52)">
  <h1 style="color:rgb(184, 184, 184)">Your ipsum request is below:</h1>
    <p style="color:rgb(164, 195, 255)"><%= content %></p>
</body>
</html>
